@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* @tokens */
    --background: 33.3 100% 96.5%;
    --foreground: 34.6 68.4% 7.5%;
    --primary: 14.4 92.3% 53.9%;
    --card: 0 0% 100%;
    --muted: 31.6 42.2% 91.2%;
    --secondary: 31.6 42.2% 91.2%;
    --accent: 42.4 100% 50%;
    --border: 33.6 71.1% 83.7%;
    --ring: 14.4 92.3% 53.9%;
    --destructive: 0 72.2% 50.6%;
    --popover: 0 0% 100%;
    --input: 33.6 71.1% 83.7%;
    --muted-foreground: 30 23.5% 40%;
    --card-foreground: 34.6 68.4% 7.5%;
    --popover-foreground: 34.6 68.4% 7.5%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive-foreground: 0 0% 100%;
    --radius: 0.875rem;
    /* @end-tokens */
  }

  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background font-sans text-foreground antialiased;
  }

  h1,
  h2,
  h3 {
    @apply font-display;
  }
}
